@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@300;400;600&display=swap');
*{
    box-sizing: border-box;
}
body{
    background-color: #897b97;
    /* min-height: 100vh; */
    display: flex;
    flex-wrap: wrap;
    font-family: "Poppins", "sans-serif";
    margin: 0;
    padding-top: 3rem;
}
.add{
    background-color: #661a75;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    color: #fff;
    padding: 0.5rem 1rem;
    margin: 1rem auto;
    position: fixed;
    top: 0.5rem;
    right: 1rem;
}
.note{
    background-color: #fff;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    height: 400px;
    width: 400px;
}
.note .tools{
    background-color: #904f99;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}
.note .tools button{
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: white;
    font-size: 1rem;
    margin-left: 0.3rem;
}
.note .main{
    background-color: rgb(230, 227, 227);
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.note textarea{
    outline: none;
    font-family: inherit;
    border: none;
    height: 100%;
    width: 100%;
}
.note .hidden{
    display: none;
}