@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@300;400;600&display=swap');
*{
    box-sizing: border-box;
}
body{
    background-color: #d8dede;
background-image: linear-gradient(315deg, #d8dede 0%, #e5bdf6 74%);
    min-height: 100vh;
    margin: 0;
    font-family: "Poppins", "sans-serif";
    display: flex;
    align-items: center;
    justify-content: center;
}
.quiz-container{
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(100, 100, 100, 0.1) ;
    overflow: hidden;
    width: 600px;
    max-width: 100%;
}
.quiz-header{
    padding: 3rem 4rem;
}
h2{
    margin: 0;
}
ul{
    list-style-type: none;
    padding: 0;
}
ul li{
    margin: 1rem 0;
    font-size: 1.1rem;
}
ul li label{
    cursor: pointer;
}
button{
    background-color: #8e44ad;
    display: block;
    border: none;
    color: white;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.5rem;
    width: 100%;
    padding: 1rem;
}
button:hover{
    background-color: #632a7b;

}